<h1>Edit Comment </h1>
<%= form_with model: [@comment.post,@comment] do |form| %>
  <p>
    <%= form.label :Name %><br>
    <%= form.text_field :commenter %>
  </p>
  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
