<%= link_to "New Post", new_post_path %>
<br>
<br>
<br>
<div class="container">
 <div class="row justify-content-center">
 <% @posts.each do |post| %>
 <div class="card-deck mb-4 col-12 col-md-4">
    <div id="del<%= post.id %>" class="card "  >
            <%if post.image.attached?%>
                <img src = <%= url_for(post.image) %> class="card-img-top" alt="Card image cap" >
            <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= truncate(post.description,:length => 10) %></p>
                <%= link_to "Edit Post", edit_post_path(post)%>
                <br>
                <%= link_to "Delete", post_path(post), method: :delete, remote: true, class: "delete" %>
                <br>
                <%= link_to "Read Post", post %>
              </div>
              <div class="w-100"></div>
        </div>
    </div>
  <%end%>
 </div>
</div>
