<%= link_to "New Post", new_post_path %>
<br>
<div class="row">
 <% @posts.each do |post| %>
    <div class="card col-3">
            <div class="card" style="width: 100%;">
              <%if post.image.attached?%>
                 <img src = <%= url_for(post.image) %> class="card-img-top" alt="Card image cap" >
              <% end %>
              <div class="card-body">
                <h5 class="card-title"><%= post.title %></h5>
                <p class="card-text"><%= truncate(post.description,:length => 10) %></p>
                <%= link_to "Read Post", post %>
              </div>
            </div>
    </div>
  <%end%>
</div>

<% if current_user %>
  <div class="actions">
    <%= button_to "logout", destroy_user_session_path, method: :delete , class: 'btn btn-primary' %>
  </div>
<% end %>
